textarea {
    box-sizing: border-box;
    border: 1px solid lightgrey;
    resize: vertical;
    height: 14em;
    border-radius: 10px;

    padding: 0.1em 1em 0.1em 1em;
    font-family: 'Roboto Mono', monospace;
}