// Nav Components scss
// By Adam Renaud
// Created on: 2019-02-13

nav {
    background-color: #006aff;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 15px 5px 15px 5px;
    box-shadow: 0px 0.1px 5px 0.1px #888888;
    // box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
}

nav a {
    vertical-align: middle;
    padding: 0 0.5em 0 0.5em;
    color: white;
    text-decoration: inherit;
    font-size: 1.2em;
}

nav img {
    vertical-align: middle;
}
