/*
    style.scss
    By: Adam Renaud
    Created: 2019-02-13
*/


@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

html {
    font-size: 100%;
}

body {
    // General and fonts
    margin: 0 0 200px 0;
    font-family: 'Roboto', sans-serif;
}

.al-textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    resize: vertical;
    border-radius: 10px;
}