<div id="home-container">
    <div style="grid-area: message;">
        <h2>Autolist</h2>
    </div>
    <!-- The input area -->
    <autolist-textarea (inputEvent)="onInput($event)" style="grid-area: input;"></autolist-textarea>

    <!-- total length output cell -->
    <app-output-cell [value]="totalLength" [placeholder]="totalLengthPlaceholder" style="grid-area: length;">
    </app-output-cell>

    <!-- Total Area output cell -->
    <app-output-cell [value]="totalArea" [placeholder]="totalAreaPlaceholder" style="grid-area: area;">
    </app-output-cell>
</div>
